<nav class="navbar topnavbar" style="min-height:44px;" role="navigation">
	<div class="navbar-header" style="width:20%;text-align: left;">
					<span class="navbar-brand navbar-brand-h">
		        		<div class="brand-text" style="padding-top: 3px;">
		        		    <img alt="" src="images/main/head/logo/LOGO.jpg">
							<span style="font-family:'Britannic Bold', 'Britannic';color:#3BC5BB;">CSI员工</span>
							<span
								style="font-family:'Segoe UI Emoji Bold', 'Segoe UI Emoji Normal', 'Segoe UI Emoji';color:#1D4474;"> </span>
							<span
								style="font-family:'Segoe UI Emoji Bold', 'Segoe UI Emoji Normal', 'Segoe UI Emoji';color:#FF9A4C;">之家</span>
						</div>
					</span>
	</div>
	<div class="sysMenu" style="display: none;">
		<ul>

		</ul>
	</div>
	<div class="nav-wrapper">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a>
					<span class="user-name-csdc">欢迎登录：sjm</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img src="images/StatBar_time.gif">&nbsp;&nbsp;<span id="nowTime"></span>
				</a>
			</li>

			<li>
				<a class="menu-icons" title="修改密码" data-search-open="" data-title="修改密码" modal-toggle="modal"
				   data-href="editPassword/editPassword.html" data-width="780" data-height="300">
					<em class="fa fa-gear main-op" style="font-size:13px">修改密码</em>
				</a>
			</li>
			<li>
				<a class="menu-icons" title="人脸注册" data-search-open="" data-title="人脸注册" modal-toggle="modal"
				   data-href="user/face.html" data-width="780" data-height="500">
					<em class="fa fa-gear main-op" style="font-size:13px">人脸注册</em>
				</a>
			</li>
			<li class="dropdown">
				<a class="menu-icons" title="退出登录" data-no-persist="true" href=""
				   onclick="loginOut(); return false;">
					<!--<a class="menu-icons" title="退出登录" data-no-persist="true" href="logout.d">-->
					<em class="fa fa-power-off  main-op" style="font-size:13px">退出登录</em>
				</a>
			</li>
		</ul>
	</div>
</nav>