<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('CSI员工之家')"/>
</head>
<body class="layout-fixed">
	<div fragment="navbar" class="wrapper" role="navigation">
		<div th:replace="components/header"></div>
		<aside class="aside">
			<div class="aside-inner">
				<nav class="sidebar" data-sidebar-anyclick-close="">
					<ul class="nav" id="leftMenuNav">
					</ul>
				</nav>
			</div>
		</aside>
		<section id="content">
			<div id="funTab"></div>
		</section>

	</div>
	<th:block th:include="include :: footer"/>
	<script type="text/javascript">
		/** 文档加载完成后立即执行的方法 */
		// var weeks = new Array();
		$(function () {
			$("#nowTime").runTimer();
		})

		$(document).ready(function () {
			$.ajax({
				url: "/csi/user/api/sysUser", // url where to submit the request
				type: "GET", // type of action POST || GET
				success: function (result) {
					// console.log(result);
					let data;
					try {
						data = checkResultAndGetData(result);
					} catch (error) {
						console.log(error)
						alert(JSON.stringify(error));
						return;
					}

					console.log(data);
					if (data == null) {
						return;
					}
					$("#userInfo").text(data.username);
				}
			});
		});
	</script>
</body>

</html>